@import './constants.css';

/*

--- 01 TYPOGRAPHY SYSTEM
    - Font Sizes (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
    - Font Weights
        Default: 400
    - Line Heights
        Default: 1

--- 02 COLORS
    - Primary:
    - Tints:
    - Shades:
    - Accents:
    - Greys:

--- 05 SHADOWS

--- 06 BORDER_RADIUS

--- 07 WHITESPACE
    - Spacing System (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/




/**************************/
/* GENERAL COMPONENTS */
/**************************/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



html {
  /* font-size: 10px;
    10px / 16px = 0.625 = 62.5%
    Percentage of user's browser font-size setting */
  font-size: 62.5%;
  
}


.default-resolution {
    /* Default Resolution */
    max-width: 1920px;
    max-height: 1080px;
    top: 0;
    left: 0;
    position: fixed;
    border: 0.5px solid #0f0;
    overflow: scroll;
    overflow-x: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.25) ), url("/static/images/bg.jpg");
    scroll-behavior: smooth;
}

.main-container {
    grid-row: 2;
    grid-column: 1/-1;
    margin: 0 auto;
    width: 90%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #444;
}

/* main wraps the header, body, and footer and declares a grid layout */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 6rem;
    height: 100vh;

}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 100vh;
    line-height: 1.25;
}










